#######################################################################################
# Copyright ETSI Contributors and Others.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
# implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#######################################################################################
apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  name: {{ workflow_name }}
spec:
  arguments:
    parameters:

    # Fleet repo
    - name: git_fleet_url
      value: "{{ git_fleet_url }}"
    - name: fleet_destination_folder
      value: "/fleet/fleet-osm"
    - name: git_fleet_cred_secret
      value: fleet-repo

    # SW-Catalogs repo
    - name: git_sw_catalogs_url
      value: "{{ git_sw_catalogs_url }}"
    - name: sw_catalogs_destination_folder
      value: "/sw-catalogs/sw-catalogs-osm"
    - name: git_sw_catalogs_cred_secret
      value: sw-catalogs

    # Specific parameters - Generic cluster creation
    - name: cluster_kustomization_name
      value: {{ cluster_kustomization_name }}
    - name: cluster_name
      value: {{ cluster_name }}
    ## As of today, one among `aks`, `eks` or `gke`:
    - name: cluster_type
      value: {{ cluster_type }}
    - name: vm_size
      value: {{ vm_size }}
    - name: node_count
      value: "{{ node_count }}"
    - name: cluster_location
      value: {{ cluster_location }}
    - name: k8s_version
      value: "'{{ k8s_version }}'"
    - name: providerconfig_name
      value: {{ providerconfig_name }}

    # Specific parameters - Bootstrap and credentials
    - name: public_key_mgmt
      value: "{{ public_key_mgmt }}"
    - name: public_key_new_cluster
      value: "{{ public_key_new_cluster }}"
    - name: secret_name_private_age_key_for_new_cluster
      value: "{{ secret_name_private_key_new_cluster }}"
    - name: key_name_in_secret
      value: "agekey"
    - name: mgmt_project_name
      value: "{{ osm_project_name }}"

    # Specific parameters - AKS only
    - name: rg_name
      value: {{ rg_name }}

    # Specific parameters - GKE only
    - name: preemptible_nodes
      value: "{{ preemptible_nodes }}"

    # Advanced parameters - Recommended to keep defaults
    - name: skip_bootstrap
      value: "{{ skip_bootstrap }}"
    - name: mgmt_cluster_name
      value: "_management"
    - name: base_templates_path
      value: "cloud-resources"
    - name: cloned_fleet_folder_name
      value: "fleet-osm"
    - name: cloned_sw_catalogs_folder_name
      value: "sw-catalogs-osm"

    # Specific paramters - EKS only
    - name: cluster_iam_role
      value: {{ cluster_iam_role }}
    - name: cluster_private_subnets_id
      value: "{{ cluster_private_subnets_id }}"
    - name: cluster_public_subnets_id
      value: "{{ cluster_public_subnets_id }}"
    - name: cluster_subnets_configmap_name
      value: {{ configmap_name }}

    # Debug/dry run?
    - name: debug
      value: "{{ workflow_debug }}"
    - name: dry_run
      value: "{{ workflow_dry_run }}"


  # Cleanup policy
  ttlStrategy:
    secondsAfterSuccess: 1800     # Time to live after workflow is successful
    secondsAfterFailure: 7200     # Time to live after workflow fails

  workflowTemplateRef:
    name: full-create-crossplane-cluster-and-bootstrap-wft
